<header>
    <nav id="nav-header">
        <ul class="header">
            <li id="backstory-li">
                <a href="../game/backstory">backstory</a>
            </li>

            <li id="mission-control-li">
                <a href="../game/mission-control">mission-control</a>
            </li>
    
            <li id="login-li">
                <a href="../users/login">login</a>
            </li>

            <li id="enlist-li">
                <a href="../users/enlist">enlist</a>
            </li>
    
            <li id="play-li">
                <a href="../game/game-screen">play</a>
            </li>
        </ul>
    </nav>
</header>