<div class="cryo-lab-wrapper">
    <div class="message" id="sos-msg">
        <h5 class="msg-items">Hello, C.H.a.Z.</h5>
        <h6 class="msg-items">Cyborgs, Humans, and Zombies... Oh, my!</h6>
        <p class="intro msg-items">We've done it! Science has finally cured every disease that has ever plagued
            man...even death
            itself. There are worse things than death though and unfortunately, we gave up something in the trade; our
            very
            humanity.</p>
        <a class="btn msg-items" id="play-game-btn" href="/game/game-screen">Continue...</a>

    </div>
</div>