    <div class="main-wrapper">

        <!-- player game display -->
        <div class="game-panel">
            <div class="gameboard">
                <!-- insert dynamically-generated spaces -->
                <div id="board-holder"></div>
            </div>
        </div>


        <!-- player control panel -->
        <div class="control-panel">
            <div class="drone-drops">
                <!-- insert draggable drone drop icons/buttons -->
                <div class="drone-icon" id="bio-nanite-drone">
                    <div class="drone" id="bio-nanite-drone-btn" data-status="drone"></div>
                </div>

                <div class="drone-icon" id="bio-hazard-drone">
                    <div class="drone" id="bio-hazard-drone-btn" data-status="drone"></div>
                </div>

                <div class="drone-icon" id="bio-flare-drone">
                    <div class="drone" id="bio-flare-drone-btn" data-status="drone"></div>
                </div>
            </div>
            <div class="game-menu">
                <!-- insert collapsible menu -->
                <button class="accordion"><i class="fas fa-thermometer-half"></i> LIFEFORM STATS <i
                        class="fas fa-battery-quarter"></i></button>
                <div class="panel" id="stats-panel">
                    <!-- percentage of each lifeform (progress bars) -->
                    <div class="percentage-panel">
                        <div class="progress-bar-row">
                            <div class="icon">C</div>
                            <div class="progress-container">
                                <div class="percent-background">
                                    <div class="progress-bar" id="cyborg-bar">CYBORGS</div>
                                </div>
                            </div>

                            <div class="percent"><span id="cyborg-percentage">30</span>%</div>
                        </div>
                    </div>

                    <div class="percentage-panel">
                        <div class="progress-bar-row">
                            <div class="icon">H</div>
                            <div class="progress-container">
                                <div class="percent-background">
                                    <div class="progress-bar" id="human-bar">HUMANS</div>
                                </div>
                            </div>

                            <div class="percent"><span id="human-percentage">55</span>%</div>
                        </div>
                    </div>

                    <div class="percentage-panel">
                        <div class="progress-bar-row">
                            <div class="icon">Z</div>
                            <div class="progress-container">
                                <div class="percent-background">
                                    <div class="progress-bar" id="zombie-bar">ZOMBIES</div>
                                </div>
                            </div>

                            <div class="percent"><span id="zombie-percentage">15</span>%</div>
                        </div>
                    </div>

                    <!-- personal bio stats (card?) -->
                    <div class="user-stats-panel">
                        <div class="user-avatar-background">
                            <div class="user-avatar">image here</div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.</p>
                </div>

                <button class="accordion"><i class="fas fa-toolbox"></i> JUST-IN-CASE</button>
                <div class="panel" id="option-panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.</p>
                </div>

                <button class="accordion"><i class="far fa-comment-dots"></i> MESSAGE
                    BOARD</button>
                <div class="panel" id="message-panel">
                    <div class="btn btn-primary" id="submit-test-num" style="display: block;">START</div>
                    <input type="text" class="test-input" id="test-nums" style="display: block;">
                    <div class="btn btn-danger" id="end-round" style="display: none;">endRound func</div>
                    <div class="btn btn-success" id="create-pawn" style="display: none;">Create Pawn</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>

    </div>