<h2>Choose your game!</h2>
<div class="wrapper">
    <ul>
        <li>
            <a href="#" target="_blank">Cyborgs and Zombies: SURVIVE!</a>
        </li>
        <li>
            <a href="#" target="_blank">Cyborgs and Zombies: THRIVE!</a>
        </li>
        <li>
            <a href="#" target="_blank">Cyborgs and Zombies: DIVIDE!</a>
        </li>
        <li>
            <a href="#" target="_blank">Cyborgs versus Zombies: DECIDE!</a>
        </li>
        <li>
            <a href="#" target="_blank">Cyborgs and Zombies: SOLO!</a>
        </li>
        <li>
            <a href="#" target="_blank">Cyborgs and Zombies: CO-OP!</a>
        </li>
    </ul>
</div>