body {
    background-color: lightblue;
}

.cryo-lab-wrapper {
    /* background-image: url("../images/ZHC-Lab-3.png"); */
    background-image: url("../images/Cryo-Wars-lab.png");
    
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.mission-control-panel {
    display: inline-block;
    border-radius: 25px;
    background-color: gray;
    opacity: 0.25;
    filter: alpha(opacity=25);
    /* For IE8 and earlier */
    padding: 10px;
    width: 75%;
    height: 75%;
    filter: blur(15px);
}

.mission-control-panel {
/* .mission-control-panel:hover { */
        opacity: .85;
        /* border: 10px solid purple; */
        box-shadow: 0 0 30px purple;
        z-index: -1;
        filter: blur(0px);
    }

/* .mission-control-panel:before {

} */

.mission-control-panel:after {
    border: 10px solid purple;
    box-shadow: 0 0 20px purple;
    z-index: -1;
    filter: blur(15px);
}

.light-array {
    /*   background-color: yellow; */
    padding: 10% 0 0 10%;
    height: 10vh;
    width: 100vw;
}

.main-screen {
    /*   border-radius: 10% 10% 2% 2%; */
    border-radius: 10px;
    background-color: silver;
    padding: 5px 15px 10px 5px;
    width: 95%;
    height: 85%;
    margin: 10px;
    float: left;
}

/* .speaker-panel {
  border-radius: 50%;
  background-color: purple;
  width: 75px;
  height: 75px;
  display: inline-block;
  position: relative;
}

.speaker {
  border-radius: 50%;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
} */

/* .game-screen {
    background-color: white;
    width: 60%;
    height: 95%;
    margin: 10px; */
    /*   display: block; */
    /* float: left;
    text-align: center;
    border-radius: 15px;
} */

.game-screen {
    background-color: white;
    width: 50%;
    height: 100%;
    margin: 10px;
    /*   display: block; */
    float: left;
    text-align: center;
    border-radius: 15px;
}

.small-screen-holder {
    border-radius: 15px;
    background-color: white;
    width: 30%;
    height: 95%;
    margin: 10px 5px 10px 0px;
    /*   display: block; */
    float: right;
}

.small-screen-1 {
    border-radius: 15px;
    background-color: #000;
    width: 90%;
    height: 90%;
    margin: 5% 5% 5% 5%;
    float: left;
}

.small-screen-2 {
    border-radius: 15px;
    /* background-color: #000; */
    width: 90%;
    height: 0%;
    margin: 5% 5% 0% 5%;
    float: left;
}

.pawn-lites {
    border-radius: 15px;
    background-color: white;
    width: 5%;
    height: 95%;
    margin: 10px 5px;
    float: left;
}

.big-screen-1 {
    border-radius: 15px;
    background-color: #000;
    width: 75%;
    margin: auto;
    /* height: 75%; */
    /* margin: 5% 5% 0% 5%; */
    float: left;
    height: 0;
    padding: 3%;
    padding-bottom: 75%; 
    position: relative;
    /* width: 25% what is width based on? */
    text-align: center;
    display: inline-block;

}

.pawn-lites {
    text-align: center;
}

.lite {
    display: inline-block;
    /*    margin: 5% 5% 0% 5%; */
    margin-top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#red-lite {
    background-color: red;
}

#yellow-lite {
    background-color: yellow;
}

#blue-lite {
    background-color: blue;
}

#purple-lite {
    background-color: purple;
}

.bulb {
    /*   border-radius: 25px 25px 25px 25px; */
    border-radius: 45%;
    /*   margin: 5% 0 0 5%; */
    height: 75%;
    width: 100%;
    float: left;
    /*   position: absolute; */
    /*   top: -20px; */
}

#red-bulb {
    background-color: red;
}

#yellow-bulb {
    background-color: yellow;
}

#blue-bulb {
    background-color: blue;
}

#purple-bulb {
    background-color: purple;
}

.bulb-outlet-holder {
    /*   margin: 0 0 0 5%; */
    /*   margin-bottom: 0px; */
    background-color: gray;
    height: 30%;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    float: left;
    /*   position: relative; */
}

.bulb-pack {
    margin: 0 0 0 10%;
    /*   backround-color: purple; */
    height: 100%;
    width: 5%;
    float: left;
}

body {
    /* max-height: 100vh; */
    color: white;
    background-image: linear-gradient(to bottom right, rgb(121, 19, 180), rgb(231, 63, 253));
}

.btn {
    background-image: linear-gradient(to top right, rgb(10, 184, 228), rgb(204, 86, 219));
    /* background-color: #4CAF50; */
    border: none;
    width: 25%;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px 50px 30px 5px;
}

.jumbotron {
    background-image: linear-gradient(to top right, rgb(22, 5, 70), rgb(64, 219, 240));
    border-radius: 0% 0% 75% 1%;
    color: white;
}

#test-nums {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px 50px 30px 5px;
}

#board-holder {
    /* background: rgba(214, 214, 214, 0.438); */
    /* background-image: linear-gradient(to top right, rgba(162, 133, 250, 0.61), rgba(116, 224, 238, 0.431)); */
    /* width: 50vw;
    height: 50vw; */
    margin: auto;
    width: 80%;
    /* padding: 100%; */
    border-radius: 5px;
    /* width: 100%; */
    /* height: aspect-ratio(16/9); */
    /* min-height: 50rem; */
    padding-bottom: 80%;
    /* transform: translate(-50%, -50%); */
    /* position: relative; */
}

.dyna-square {
    /* min-width: 25px;
    min-height: 25px; */
    position: relative;
    width: 50%;
    background-image: linear-gradient(to top right, rgb(121, 76, 243), rgb(64, 219, 240));
    /* background-color: blue; */
    border: 3px solid #000;
    border-radius: 15px;
}

.dyna-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    border-radius: 15%;
}

.dyna-square:hover {
    /* background-color: aqua; */
    background-image: linear-gradient(to top right, rgb(64, 219, 240), rgb(22, 5, 70));
}

.dyna-square-content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.circle-shape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;
    /* height: 25px;
    width: 25px; */
    /* height: 50%;
    width: 50%; */
    /* background-color: rgb(90, 252, 90); */
    /* border-radius: 50%; */
    /* display: inherit; */
    /* display: inline-block; */

    /* background-image: url("../images/human-pawn.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

.holding {
    background-color: #ffffe28f;
    border: 3px solid #f1224481;
    border-radius: 5px;
}

/* .empty-health {

} */
.health-score {
    /* background-color: #f70930c2; */
    background-image: linear-gradient(to top right, rgb(40, 193, 253), rgb(221, 107, 221));

    width: 25%;
    height: 25%;
    /* font-size: auto; */
    position: absolute;
    text-align: center;
    z-index: 99;
    transform: initial;
    top: 0;
    right: 0;
    border-radius: 1px 1px 1px 50%;
    /* border-radius: 50%; */
}