body {
    background-color: black;
    font-family: cursive;
}

.glow {
    font-size: 150px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.num-holder {
    font-size: 150px;
    color: rgba(88, 85, 85, 0.527);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.hazmat-images {
    font-size: 150px;
    text-align: center;
    animation: 1s ease-in-out infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.numbers {
    margin: 10px;
    width: 33vw;
}

.Hazzy {
    margin: 10px;
    height: 150px;
    width: 30vw;
}

/* #num-01 {
  font-size: 150px;
  color: #green;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
} */

@-webkit-keyframes glow {
    from {
        box-shadow: 120px 80px 40px 20px #0ff;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        box-shadow: 120px 80px 40px 20px rgb(0, 110, 255);
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

body {
    background-image: linear-gradient(blue, purple);
}

#road {
    border-bottom: 7px dashed black;
}

/* #runner {
    background: url("./hazmat-runner.png");
    width: 378px;
    height: 385px;
    animation: walk 1s steps(4) infinite,
            forward 5s linear infinite;
} */

#runner {
    /* background: url("../images/hazmat-runner-1.png"); */
    width: 200px;
    height: 202px;
    animation: walk-left 1s steps(6) infinite,
        backward 15s linear infinite;

    /* animation: walk 1s steps(6) infinite,
        forward 15s linear infinite; */
}

@keyframes walk-left {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 1198px;
    }
}

@keyframes walk-right {
    0% {
        background-position: 1198px;
    }

    100% {
        background-position: 0px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(1200px);
    }
}

@keyframes backward {
    0% {
        transform: translateX(1200px);
    }

    100% {
        transform: translateX(-100px);
    }
}