body {
    background-image: linear-gradient(rgb(23, 167, 233), purple);
}

#road {
    border-bottom: 7px dashed black;
}

#runner {
    width: 200px;
    height: 202px;
}

.move-left {
        animation: walk-left 1s steps(6) 3,
        backward 15s linear infinite;
}

.move-right {
    animation: walk-right 1s steps(6) 3,
        forward 15s linear infinite;
}

.move-forward {
    animation: walk-forward 1s steps(4) 3,
        backward 15s linear infinite;
}

.move-backward {
    animation: walk-backward 1s steps(4) 3,
        forward 15s linear infinite;
}

@keyframes walk-left {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 1198px;
    }
}

@keyframes walk-right {
    0% {
        background-position: 1198px;
    }

    100% {
        background-position: 0px;
    }
}

@keyframes walk-forward {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 800px;
    }
}

@keyframes walk-backward {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 800px;
    }
}